.bg {
  background-image: url("../../../assets/Organizer//AnasOrgblur.jpg");
  height: 750px;
  width: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content {
  margin-top: 80px;
  width: 100%;
  position: absolute;
  margin: auto;
}

div.scrollmenu {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  margin-top: 30px;
  margin-left: 10%;
}

div.scrollmenu a {
  display: inline-block;
  font-weight: 600;
  color: #3d64ff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  text-decoration: underline;
}

.select {
  color: black;
  margin-top: 30px;
  margin-left: 10.5%;
  font-size: 40px;
  font-weight: 600;
}

.uporpast {
  margin-top: 20px;
  margin-left: 10.5%;
  font-size: 40px;
  font-weight: 600;
}

.Cards {
  margin-right: 8%;
  margin-left: 8%;
}
