node_modules/# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/Basicinfo/Loctype.js
src/components/Basicinfo/Loctype.js
src/components/Basicinfo/Loctype.scss
src/components/Basicinfo/Loctype.test.js
src/Components/Basicinfo/Mapframe.js
src/components/Basicinfo/Mapframe.scss
src/components/Basicinfo/Singleevent.js
src/components/Basicinfo/Singleevent.scss
src/Components/Basicinfo/Singleevent.test.js
src/components/Basicinfo/Tag.js
src/components/Basicinfo/Tag.scss
src/components/Basicinfo/Tag.test.js
src/components/Basicinfo/Venue.js
src/components/Basicinfo/Venue.scss
src/components/Basicinfo/Venue.test.js
src/components/FollowBox/follow.css
src/components/FollowBox/Follow.js
src/components/LikeBox/like.css
src/components/LikeBox/Like.js
src/components/Basicinfo/Loctype.js
src/components/Basicinfo/Loctype.scss
src/components/Basicinfo/Loctype.test.js
src/components/Basicinfo/Mapframe.scss
src/components/Basicinfo/Singleevent.js
src/components/Basicinfo/Singleevent.scss
src/components/Basicinfo/Tag.js
src/components/Basicinfo/Tag.scss
src/components/Basicinfo/Tag.test.js
src/components/Basicinfo/Venue.js
src/components/Basicinfo/Venue.scss
src/components/Basicinfo/Venue.test.js
src/components/FollowBox/follow.css
src/components/FollowBox/Follow.js
src/components/LikeBox/like.css
src/components/LikeBox/Like.js
