.footer__container-link
{
    display: flex;
    align-items: center;
    margin-right: 0px;
}
.dot
{
    font-size: 20px;
    color: grey;
}
.footer__container-link a:hover
{
    text-decoration: underline;
    color: #3d64ff;
}
@media screen and (min-width: 400px) and (max-width: 600px)
{
    
}