#root {
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

#signup-signup-h1 {
  color: #1e0a3c;
  font-family: "Neue Plak Bold", -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 3.25rem;
  font-weight: 800;
}

@media screen {
  #signup-signup-h1 {
    font-size: 3rem;
  }

}

@media screen and (max-width:960px) {
  #signup-signup-h1 {
    font-size: 2rem;
  }
}

#circular-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-column-left {
  padding: 5% 13% 250px 13%;
}
