.add__section-faq
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add__section-faq-left
{
    display: flex;
    align-items: center;
}
.add__section-faq-left h4
{
    margin-left: 15px;
}
.add__btn-faq
{
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: 2px solid rgb(169, 168, 179);
    cursor: pointer;
    color: #39364f;
    fill: #39364f;
    background: #fff;
    border-color: #a9a8b3;
}
.faq__icon
{
    height: 34px;
    width: 32px;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 247, 250);
    font-size: 18px;
}
.line hr
{
    border-top: 1px solid rgb(219, 218, 227);
}
@media screen and (max-width: 500px) and (min-width: 400px)
{
    .add__section-faq-right a
    {
        display: none;
    }
}