.description__container
{
    margin-bottom: 50px;
    width: 700px;
}
.text__logo
{
    margin-left: -60px;
    margin-bottom: -40px;
    font-size: 35px;
    color: #a7a5ab;
}
.cond__btn
{
    padding: 12px 30px;
    margin-right: 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: 2px solid rgb(169, 168, 179);
    cursor: pointer;
    color: #39364f;
    fill: #39364f;
    background: #fff;
    border-color: #a9a8b3;
}
.description__container-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.add__text , .add__image , .add__video
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.add__text textarea , .add__image textarea , .add__video textarea
{
    width:100%;
    padding: 10px 20px;
    height: 200px;
}
.add__text button , .add__image button ,.add__video button
{
    padding: 8px 11px;
    outline: none;
    border:none;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.add__text button:hover , .add__image button:hover , .add__video button:hover
{
    background-color: rgb(240, 238, 238);
}
.video__link
{
    width: 100%;
    height: 48px;
    padding-bottom: 5px;
    padding-left: 10px;
    position: relative;
}


@media screen and (max-width: 1300px) and (min-width: 1261px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 600px;
    }
}
@media screen and (max-width: 1261px) and (min-width: 1200px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 600px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1100px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 520px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 1000px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 480px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 960px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 440px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1260px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 700px;
    }
}
@media screen and (max-width: 959px) and (min-width: 400px)
{
    .text__logo
    {
        display: none;
    }
}
@media screen and (max-width: 885px) and (min-width: 792px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 600px;
    }
}
@media screen and (max-width: 792px) and (min-width: 660px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 540px;
    }
}
@media screen and (max-width: 792px) and (min-width: 720px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 590px;
    }
}
@media screen and (max-width: 500px) and (min-width: 400px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 370px;
    }
    .description__container-buttons
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .description__container-buttons button
    {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) and (min-width: 500px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 470px;
    }
    .description__container-buttons
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .description__container-buttons button
    {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 660px) and (min-width: 600px)
{
    .description__container
    {
        margin-bottom: 50px;
        width: 570px;
    }
    .description__container-buttons
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .description__container-buttons button
    {
        margin-bottom: 20px;
    }
}