.sidebar
{
    display: flex;
    position: fixed;
    left: 0;
    top: 65px;
    z-index: 1;
}
.sidebar__links
{
    width: 60px;
    height: calc(100vh - 70px);
    background-color: #f8f7fa;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
    position: relative;
    border-right: 1.5px solid #eeedf2;
}
.sidebar__links a 
{
    text-decoration: none;
    font-size: 36px;
    color: rgb(109, 109, 109);
    margin-bottom: 10px;
}
.footer
{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.sidebar__links a :hover
{
    background-color: white;
    color: #3659e3;
}
.sidebar__links a :active
{
    background-color: #304fc9;
    color: white;
}
.logo
{
    padding: 7px;
    border-radius:5px;
    font-weight: 100;
}
.sidebar__Event-options
{
    width: 288px;
    height: calc(100vh - 70px);
    background-color: #f8f7fa;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    overflow-y:scroll;
}
.events__link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#3659e3;
    font-weight: 600;
    font-size: 14px;
}
.arrowLeft
{
    margin-right: 20px;
    color:#3659e3;
    font-weight: 600;
}
.line
{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(188, 185, 185);
}
.div__line
{
    border-top: 1px solid rgb(230, 229, 229) !important;
}
.event__name:hover
{
    text-decoration: underline;
    color:#3d64ff;
}
.preview__link
{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--eds-control,#3659e3);
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
.preview__link:hover
{
    text-decoration: underline;
}
.more
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px;
}
.more:hover
{
    background-color: rgb(236, 232, 232);
}
.share__logo
{
    margin-left: 10px;
}
.EventOption
{
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 288px;
    padding: 15px 30px;
    color: #4b4d63;
    font-weight: 600;
    font-size: 14px;
}
.EventOption:hover
{
    background-color: #EEEDF2;
}
.number
{
    background-color: #39364f;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 23px;
    border-radius: 50%;
}
.arrow__Logo
{
    margin-left: 50px;
}
.routing__options
{
    margin-top: 0px;
}
.draft__btn
{
    margin-left: 30px;
    text-decoration: none;
    color: #39364f;
    background: #fff;
    border-radius: 16px;
    border: 1px solid #a9a8b3;
    -webkit-box-shadow: 0 4px 8px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.06);
    box-shadow: 0 4px 8px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.06);
    padding: 5px 17px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.draft__btn:hover{
    color: #39364f;
}
.arrow__down
{
    font-size: 20px;
    margin-left: 3px;
}
@media screen and (max-width: 959px) and (min-width: 792px)
{
    .sidebar__Event-options
    {
        display: none;
    }
}
@media screen and (max-width: 792px) and (min-width: 400px)
{
    .sidebar__Event-options
    {
        display: none;
    }
    .sidebar__links
    {
        display: none;
    }
}

