.box_prof {
  margin-left: 20px;
  width: 47%;
  height: 360px;
  margin-top: 25px;
<<<<<<< HEAD
  cursor: pointer;
=======
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  border-radius: 10px;
>>>>>>> 5ba8c3703c1b5a44f87ebdec9b4170c009b1be2e
}

.box_prof:hover {
  box-shadow: 1px 1px 1px 1px rgba(187, 187, 187, 0.5);
}

.img_prof {
  width: 100%;
  border: 1px solid rgb(185, 184, 184);
  height: 210px;
}

.ht_prof {
  color: #d10000;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 11px;
}

.circle_prof {
  position: absolute;
  top: 86%;
  left: 85%;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.cont_prof {
  position: relative;
  width: 100%;
}

.desc_prof {
  color: rgb(68, 67, 67);
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600px;
}

.dat_prof {
  color: rgb(255, 115, 0);
  font-size: 16px;
}

.det_prof {
  color: rgb(135, 134, 134);
  font-size: 16px;
}

.dfrt_prof {
  color: rgb(135, 134, 134);
  font-size: 16px;
  margin-left: 10px;
}

.shr_prof {
  margin-left: 250px;
  width: 7%;
  height: 7%;
  cursor: pointer;
}
@media screen and (max-width: 745px) 
{
  .box_prof
  {
    width:60%;
  }
  .shr_prof
  {
    margin-left:70%;
    width: 8%;
    height: 8%;
    margin-top: 5px;
  }

}