.MainComp_prof {
  width: 665px;
  height: 280px;
  margin-top: 30px;
  display: flex;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.MainComp_prof:hover {
  box-shadow: 1px 1px 1px 1px rgba(134, 134, 134, 0.5);
}

.Datee_prof {
  margin-top: 10px;
  line-height: 1px;
  display: block;
}

.Full_Container_img_prof {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 460px;
  height: 190px;
}

.eventdata_prof {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.detaileddate_prof {
  color: grey;
  font-size: small;
}

.detaileddated_prof {
  margin-top: 5px;
  color: rgb(114, 112, 112);
  font-size: small;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 745px) 
{
  .MainComp_prof
  {
    width:120%;
  }
  .Full_Container_img_prof
  {
    width: 40%;
  }
  .eventdata_prof h3
  {
    font-size: small;
  }
}
