#root {
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  letter-spacing: .2px;
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

#login-left-div {
  /* margin: 15% 10%;
    width: 50% */
}

#login-header {
  color: #1e0a3c;
  font-family: "Neue Plak Black", -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 3.25rem;
  font-weight: 800;
}

.circular-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:30px) {

  .login-title {
    width: 100px;
    height: 100px;
    // min-width: 50%;
    // min-height: 50%;
  }
}

@media screen {

  .horizontal-chip {
    max-width: 100%;
  }

}


#login-column-left {
  padding: 5% 13% 250px 13%;
}


