#root {
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
}

#login-left-div {
  /* margin: 15% 10%;
    width: 50% */
}

#login-login-h1 {
  color: #1e0a3c;
  font-family: "Neue Plak Black", -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 3.25rem;
  font-weight: 800;
}

#circular-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circular-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circular-icon {
  background: #1877f2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control:focus {
  border: 2px #3659e3 solid;
  box-shadow: unset;
  outline: 0 none;
}

.form-control {
  padding-bottom: 1.2rem;
  border-radius: 0.2vmin;
}

.form-control::placeholder {
  font-size: 0.8rem;
  line-height: 1rem;
}

.form-control:focus::placeholder {
  color: #3659e3;
}

.btn-secondary {
  background-color: white;
  color: #39364f;
  justify-content: center;
  border-radius: 0.1vmin;
  border: 0.01rem solid #dbdae3;
  margin: 1rem 0;
  padding: 0.6rem 0rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.btn-secondary:hover {
  border: 0.01rem solid #dbdae3;
  color: unset;
  transition: 0.5s;
  background-color: #f8f7fa;
}

.btn-flat {
  background-color: #d1410c;
  color: white;
  padding: 0.6rem 0rem;
  width: 100%;
  justify-content: center;
  transition: background-color 100ms ease-in;
  border-radius: 0.5vmin;
  font-size: 1rem;


}

.btn-flat:hover {
  color: white;
  background-color: #f05537;
  transition: 0.5s ease-out;
}

.formMsg {
  color: #39364f;
  line-height: 1rem;
  margin-top: 0.5rem;
  background: #fff;
  box-shadow: 0 12px 32px rgba(46, 55, 77, 0.06);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  letter-spacing: normal;
  font-size: 14px;
  font-weight: 400;

  min-height: 48px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 16px;
}

.formMsg p {
  margin: 0;
}

.formMsg div {
  background-color: #d1410c;
  width: 4px;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

@media (min-width:30px) {

  .login-title {
    width:100px;
    height:100px;
    // min-width: 50%;
    // min-height: 50%;
  }
}

@media screen {

  .btn-flat,
  .form-control,
  .btn-secondary,
  .horizontal-chip,
  .form,
  .input-group {
    min-width: 250px !important;
    width: 350px !important;
  }
}