$error-text-color: #c5162e;
$selected-text-color: #3659e3;
$unselected-text-color: #6f7287;
.a_link {
  width: auto;
  color: #3659e3;
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

.a_link:hover {
  text-decoration: underline;
}

.floating-label {
  font-size: 0.8rem;
  line-height: 1rem;
}

.floating-label:focus {
  font-size: 0.8rem;
  line-height: 1rem;
}

.form-control::placeholder {
  color: #3659e3;
}

.form-floating {
  font-family: Neue Plak, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 22px;
  color: $unselected-text-color;

  :invalid + label {
    color: $error-text-color;
  }
  :invalid:focus + label {
    color: $error-text-color;
  }
}
