.modal-backdrop-color {
    color: #39364f !important;
    background: rgba(57, 54, 79, .8) !important;
    opacity: 0.9 !important;
}



.verify-modal-header {
    color: #1e0a3c;
    font-family: "Neue Plak Bold", -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.span-text-format {
    padding: 2rem 0;
    font-size: 0.8rem;
    color:#39364f;
}