.form_prof {
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid #eeedf2;
  box-shadow: 1px 1px #f4f4f5;
}

.greyform_prof {
  display: flex;
  background-image: linear-gradient(rgb(248, 247, 247), rgb(255, 255, 255));
  height: 175px;
  background-color: rgb(255, 255, 255);
}

.btn_prof {
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 260px;
  color: blue;
}
.btn_prof:hover {
  box-shadow: 1px 1px 1px 1px rgba(236, 236, 236, 0.1);
  background-color: rgb(241, 241, 241);
}
.intersts_prof {
  color: black;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arr_prof:hover {
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.likeblk_prof {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 700px;
}
.events_prof {
  color: black;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 520px;
  margin-top: 8px;
}
