.fulldate-input {
    width: 49%;
    position: relative;

    label {
        color: #6f7287;
        position: absolute;
        padding: 2px 12px 0;
        padding-left: 15%;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        transition: all 0.3s;
    }

    .inputregular {
        width: 100%;
        padding: 18px 12px 6px;
        padding-left: 15%;
        font-size: 14px;
        line-height: 22px;
        min-height: 22px;
        border: 1px solid #ddd;
        border-radius: 2px;
        transition: all 0.2s;
        outline: none;

        // make the placeholder blue
        &::placeholder {
            color: #a2a2a2;
        }

        &:hover {
            border-color: #a0a0a0;
        }

        &:focus {
            border: 2px solid #3659e3;
        }
    }

    .inputwarning {
        width: 100%;
        padding: 18px 12px 6px;
        padding-left: 15%;
        font-size: 14px;
        line-height: 22px;
        min-height: 22px;
        border: 1px solid #c5162e;
        border-radius: 2px;
        transition: all 0.2s;

        &::placeholder {
            color: #a2a2a2;
        }

        &:focus {
            outline: none !important;
            border: 2px solid #c5162e;
        }
    }
}

.datesvgicon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    fill: #2a2a2a;
}

.fulltime-input {
    width: 49%;
    position: relative;

    label {
        color: #6f7287;
        position: absolute;
        padding: 2px 12px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        transition: all 0.3s;
    }

    .inputregular {
        width: 100%;
        padding: 18px 12px 6px;
        font-size: 14px;
        line-height: 22px;
        min-height: 22px;
        border: 1px solid #ddd;
        border-radius: 2px;
        transition: all 0.2s;
        outline: none;
        background-color: transparent;

        // make the placeholder blue
        &::placeholder {
            color: #a2a2a2;
        }

        &:hover {
            border-color: #a0a0a0;
        }

        &:focus {
            border: 2px solid #3659e3;
        }
    }
}

.chooseeventdate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.displaybox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    color: #39364f;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.displaybox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 2px;
    transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.displaybox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.displaybox-container input:checked~.checkmark {
    background-color: #3c63ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.displaybox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.displaybox-container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}