#login-left-div {
    /* margin: 15% 10%;
    width: 50% */
}

#login-login-h1 {
    color: #1e0a3c;
    font-size: 3rem;
    font-weight: 700;
}

.login-form-div {
    /* margin: 10% 0; */
}


/* 
.login-form-div .btn {
    all:unset; */
/* background-color: #d1410c;
    color: white;
    width: 50%;
    /* padding: 1rem 0rem; */
/* margin: 3rem 0;
    transition: background-color 100ms ease-in;
    border-radius: 1vmin;
    font-size: 1rem; 
}

.login-form-div .btn:hover {
    background-color: #f05537;
} 
*/