@import "./scss/theme.scss";

.header-img {
  width: 100%;
  background-image: url("./assets/adel-bg5.png");
  min-height: 500px;
  background-size: cover;
}

.primaryBtn {
  background-color: #d1410c;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 16px 12px 18px;
  text-decoration: none;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: auto;
  font-family: "Neue Plak";
}
// .myButton:hover {
//   background-color: #f05537;
// }
.primaryBtn:active {
  // #bd3a20
  position: relative;
  top: 1px;
}

.navbarPrimary {
  background-color: #ffffff;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.25px;
  margin-right: -0.25px;
  font-weight: 700;
  padding-bottom: 1rem;
  font-family: "Neue Plak";
  color: #1e0a3c;
}

.categoriesBtn {
  background-color: #d1410c;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 16px 12px 18px;
  text-decoration: none;
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: 100%;
  font-family: "Neue Plak";
}

.tile-icon {
  width: 54px;
  //   height: 54px;
  background: #fdf7f5;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.tile-name {
  padding-left: 16px;
  background: #f8f7fa;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-weight: 600;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  color: #39364f;
  font-size: 14px;
}

.tile {
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 54px;
  width: 100%;
  border: 1px solid #eeedf2;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #39364f;
}

.tile-group {
  display: grid;
  grid-template-columns: repeat(4, 1.2fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
