$primary-text-color: #1e0a3c;

.organizer-name-em {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.organizer-name-em {
  color: $primary-text-color;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
