.addEvents__container
{
    margin-bottom: 100px;
}
.rocket__logo
{
    margin-left: -60px;
    margin-bottom: -60px !important;
    font-size: 35px;
    color: #a7a5ab;
}
.add__section
{
    margin-top: 20px;
    border: 2px dashed rgb(219, 218, 227);
    border-radius: 8px;
    padding: 32px;
    width: 650px;
}
.add__FAQ
{
    margin: 32px 0px 0px;
    padding: 25px 32px 32px;
    border: 2px solid rgb(238, 237, 242);
    border-radius: 8px;
    max-width: 650px;
    position: relative;
}
.add__Agenda
{
    margin: 32px 0px 0px;
    padding: 25px 32px 32px;
    border: 2px solid rgb(238, 237, 242);
    border-radius: 8px;
    max-width: 650px;
    position: relative;
}
.add__FAQ-btn
{
    outline: none;
    background-color: rgb(238, 237, 242);
    border: none;
    border-radius: 8px;
    color: rgb(54, 89, 227);
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px;
    width: 100%;
}
.description__btn-agenda
{
    height: 80px;
    margin-top: 15px;
    width: 82%;
    padding-left: 10px;
}
.remove__description
{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 1px;
    font-size: 20px;
}
.remove__hostname
{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 1px;
    font-size: 20px;
}
.addHost__agenda
{
    margin-top: 17px;
}
.addHost__agenda input
{
    padding-left: 15px;
    height: 52px;
    width: 30%;
}
.delete__section-btn
{
    border: none;
    outline: none;
    background-color: white;
    color: rgb(189, 58, 32);
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 14px;
}
.vertical__line
{
    transform: rotate(90deg);
    width: 200px;
    position: absolute;
    top: 210px;
    left: 420px;
    color: rgb(164, 164, 164);
}
.delete__FAQ
{
    margin-left: 40px;
    margin-top: -20px;
    font-size: 20px;
}
.add__Agenda-btn
{
    outline: none;
    background-color: rgb(238, 237, 242);
    border: none;
    border-radius: 8px;
    color: rgb(54, 89, 227);
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px;
    width: 100%;
}
.addHostDescription
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.addHostBtn
{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-right: 40px;
    color: rgb(75, 77, 99);
    margin-left: 10px;
    font-size: 14.4px;
    font-weight: 600;
}
.addDescriptionBtn
{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-right: 40px;
    color: rgb(75, 77, 99);
    margin-left: 10px;
    font-size: 14.4px;
    font-weight: 600;
}
.vertical__line-agenda
{
    transform: rotate(90deg);
    width: 200px;
    position: absolute;
    top: 250px;
    left: 440px;
    color: rgb(164, 164, 164);
}
@media screen and (max-width: 1260px) and (min-width: 1200px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 590px;
    }
    .add__section p 
    {
        max-width:  100%;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 590px;
        position: relative;
    } 
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:590px;
        position: relative;
    }
    .add__slot-title
    {
        width: 415px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 390px;
        color: rgb(164, 164, 164);
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 400px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 60px;
        margin-top: -20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1100px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 510px;
    }
    .add__section p 
    {
        width: 510px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 510px;
        position: relative;
    } 
    
    .add__slot-title
    {
        width: 350px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 310px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:510px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 320px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 1100px) and (min-width: 1000px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 480px;
    }
    .add__section p 
    {
        width: 480px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 480px;
        position: relative;
    } 
    .add__slot-title
    {
        width: 320px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 290px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:480px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 300px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 1000px) and (min-width: 960px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 440px;
    }
    .add__section p 
    {
        width: 440px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 440px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 300px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 270px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:440px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 270px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 959px) and (min-width: 400px)
{
    .rocket__logo
    {
        display: none;
    }
}
@media screen and (max-width: 885px) and (min-width: 792px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 590px;
        
    }
    .add__section p 
    {
        max-width:  100%;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 590px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 420px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 380px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:590px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 390px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 792px) and (min-width: 660px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 540px;
    }
    .add__section p 
    {
        max-width: 400px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 590px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 410px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:590px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 390px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 792px) and (min-width: 720px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 590px;
    }
    .add__section p 
    {
        max-width: 400px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 590px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 410px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:590px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 390px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 500px) and (min-width: 400px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 370px;
    }
    .add__section p 
    {
        max-width: 100px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 370px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 200px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 170px;
        color: rgb(164, 164, 164);
        margin-top: 20px;
    }
    .delete__FAQ
    {
        margin-left: 60px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:370px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 200px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 600px) and (min-width: 500px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 470px;
    }
    .add__section p 
    {
        max-width: 100px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 470px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 300px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 270px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:470px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 290px;
        color: rgb(164, 164, 164);
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:470px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 290px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 660px) and (min-width: 600px)
{
    .add__section
    {
        margin-top: 20px;
        border: 2px dashed rgb(219, 218, 227);
        border-radius: 8px;
        padding: 32px;
        width: 570px;
    }
    .add__section p 
    {
        max-width: 100px;
    }
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 570px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 390px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 50px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:570px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
}
@media screen and (max-width: 719px) and (min-width: 661px)
{
    .add__Agenda
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width: 540px;
        position: relative;
        margin-bottom: 20px;
    } 
    .add__slot-title
    {
        width: 390px !important;
    }  
    .vertical__line-agenda
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 250px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
    .delete__FAQ
    {
        margin-left: 60px;
        margin-top: -20px;
        font-size: 20px;
    }
    .add__FAQ
    {
        margin: 32px 0px 0px;
        padding: 25px 32px 32px;
        border: 2px solid rgb(238, 237, 242);
        border-radius: 8px;
        max-width:540px;
        position: relative;
    }
    .vertical__line
    {
        transform: rotate(90deg);
        width: 200px;
        position: absolute;
        top: 210px;
        left: 370px;
        color: rgb(164, 164, 164);
    }
}