.floaty-div {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    margin-top: 40rem;
    width: 0;
    height: 0;
    display: block;
}

.test-button {
    position: absolute;
    background-color: #666;
    padding: 40px;
    font-size: 25px;
}