.text__logo
{
    margin-left: -60px;
    margin-bottom: -70px !important;
    font-size: 35px;
    color: #a7a5ab;
}
.summary__container
{
    width:700px;
    height: 200px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1300px) and (min-width: 1260px)
{
    .summary__container
    {
        width: 700px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1260px) and (min-width: 1200px)
{
    .summary__container
    {
        width: 580px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 1100px)
{
    .summary__container
    {
        width: 510px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 1000px)
{
    .summary__container
    {
        width: 480px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 960px)
{
    .summary__container
    {
        width: 440px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 959px) and (min-width: 792px)
{
    .text__logo
    {
        display: none;
    }
}
@media screen and (max-width: 885px) and (min-width: 792px)
{
    .summary__container
    {
        width: 580px;
        margin-bottom: 30px;
    }
}